meta(
		content="width=device-width, initial-scale=1.0" 
		name="viewport")
link(	rel="stylesheet"
		type="text/css" 
		href="/css/main.css")
link( 	href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' 
		rel='stylesheet' 
		type='text/css')